/* Sidebar */
.container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    @include media-query($on-palm) {
        padding: 10px;
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Full height of the viewport */
    width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto; /* Adds scrolling to the sidebar itself if its content overflows */

}

.sidebar .profile {
    text-align: center;
}

.profile-info h2 {
    margin-bottom: 5px; /* Reduce space between my name and links. */
}

.sidebar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.page-content {
    margin-left: 270px; /* Space for the sidebar */
    padding: 20px;
    flex: 1;
    @include media-query($on-palm) {
        margin-left: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        word-wrap: break-word; /* Ensure long words don't overflow */
    }
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor; /* Inherit color from the parent link */
}

.social-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.social-links a {
    color: #333; /* Default color */
}

.social-links a:hover {
    color: #0077b5; /* Change to LinkedIn blue on hover, for example */
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add space between the text links */
}

/* Responsive design for mobile */
@include media-query($on-palm) {
    .container {
        flex-direction: column; /* Stacks sidebar and content vertically */
    }

    .sidebar {
        position: relative; /* Remove fixed positioning on mobile */
        width: 100%; /* Full width on mobile */
        box-sizing: border-box;
        margin-bottom: 20px; /* Add space between sidebar and main content */
        height: auto; /* Sidebar height adapts to content on mobile */
    }

    .sidebar .profile {
        display: flex;
        align-items: center;
        gap: 15px; /* Space between the image and profile info */
        justify-content: center;
        text-align: left;
    }

    .sidebar img {
        width: 80px; /* Smaller image size for mobile */
        height: 80px;
        margin-bottom: 0; /* Remove bottom margin */
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align text and links to the left */



    }

    .social-links {
        justify-content: flex-start; /* Align social icons to the left */
        margin-top: 8px;
    }
}